/* Details.css */

.about-section {
    padding: 3rem 2rem;
    background-color: #FFFFFF;
    min-height: 90vh;
  }
  
  .about-heading {
    padding-top: 30px;
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 4rem;
    position: relative;
    text-align: center;
  }
  
  .about-heading .highlight {
    color: #76B041;
    font-weight: bolder;
  }
  
  .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .personal-info {
    flex: 1;
    min-width: 280px;
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .personal-info h3 {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1rem;
  }
  
  .info-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    list-style: none;
    padding: 0;
    margin: 0;
    color: #333333;
  }
  
  .info-list li {
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }
  
  .btn-more {
    background-color: white;
    color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #76B041;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-decoration: none;
  }
  
  .btn-more:hover {
    background-color: #5C8E35;
    color: white;
  }
  
  .btn-icon {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    background-color: #76B041;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .stats-info {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
  }
  
  .stat-box1 {
    background-color:#49adec;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: white;
    padding: 2rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .stat-box2 {
    background-color:#F7C346;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: white;
    padding: 2rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .stat-box3 {
    background-color: #D96ED4;
    color: white;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .stat-box4{
    background-color: #68D391;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .stat-box1:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
  .stat-box2:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
  .stat-box3:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
  .stat-box4:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
  .summary-title {
    font-size: 24px;
    width: 90%;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid  #76B041;
    padding-bottom: 5px;
}

.summary-text {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
    width: 90%;
}

.summary-text strong {
    color:  #76B041; /* Highlighting the tech stack */
    font-weight: 600;
}

  
  .stat-box h3 {
    font-size: 2rem;
    color: #76B041;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  
  .stat-box p {
    font-size: 1rem;
    color: #333333;
  }
  