.skills-section {
    padding: 2rem;
    background: linear-gradient(135deg, #f9f9f9, #f8f8f8);
    min-height: 80vh;
  }
  
  .skills-section h2 {
    padding-top: 30px;
    margin-bottom: 2rem;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .skills-grid {
    padding: 30px;
    padding-left: 170px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    text-align: center;
  }
  
  .skill-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .skill-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
   
  }
  
  .skill-item p {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 1rem;
  }
  