

img {
    height: 40px;
}

.navbar-brand {
    height: 40px;
    font-family: cursive;
    font-weight: bold;
}

.navbar-nav {
    margin: 0;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-collapse.collapse {
    justify-content: center;
}

.nav-icons {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.icon-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;

}

.icon-btn svg {
    color: #333;
    transition: color 0.3s ease;
}

.icon-btn:hover svg {
    color: #e2a703; /* Change this to the color you prefer */
}

.btn.btn-dark {
    background-color: #76B041;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}

.btn.btn-dark:hover {
    background-color: #23272b;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link:hover{
   background-color:  #48870e; 
}